<h1 class="uppercase text-2xl text-blue-400 pl-8 pt-8" >Editing Actor</h1>

<%= render 'form', actor: @actor %>

<%= link_to 'Show', @actor, class:"text-blue-400 mb-8 ml-8" %> |
<%= link_to 'Back', actors_path, class:"text-blue-400 mb-8" %>
