// Place all the styles related to the actors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content {
  h1{
    color:white;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  tr {
    img {
      width: 100px;
      margin-right: 20px;
      margin-bottom: 20px;
    }
    a {
      margin-right: 5px;
    }
  }
  #gender {
    div {
      color: white;
      margin-left: 20px;
    }
  }
}