<footer class="w-full fixed z-0 bottom-0 text-center border-t p-2 pin-b bg-black text-gray-300 sm:text-sm">
<p>
  Copyright &copy; <%= Time.now.year %>
  <%= link_to 'Made by Emina','https://linkedin.com/in/emina-custovic/' %>
</p>
</footer>